{% extends 'header.html' %}

{% block title %}
<title>Agregar Link</title>
<style>
    .nombre input[type=text] {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 2px solid rgb(9, 105, 122);
        border-radius: 4px;
        font-size: 24px;
    }
</style>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nueva Web</li>
    </ol>
</nav>
{% endblock %}

{% block content2 %}
{% if user.is_staff %}

<div class="container text-center">
    <div class="row">
        <div class="form-group">
            <div>
                <h1>Agregar Web</h1>
            </div>
            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                <div class="container">
                    <div class="row py-4 mt-3">
                        <h3>Escriba un titulo:</h3>
                        <div class="nombre">
                            {{ form.nombre }}
                        </div>
                        {% if form.errors %}
                        <h4 class="bg-danger">Este titulo ya existe,cambie el nombre por favor!</h4>
                        {% endif %}
                    </div>
                    <div class="row py-4 mt-3">
                        <h3>Pegue el link:</h3><span>(siempre anteponiendo el https:// o http:// )</span>
                        {{ form.link }}
                    </div>
                    <div class="row py-4 mt-3">
                        <span class="justify-content-center">
                            <h3>Mas información:</h3>
                            <p>(Opcional)</p>
                            {{ form.obs }}
                        </span>
                        <button type="submit" class="btn btn-success btn-block py-3 mt-3"><b>Agregar</b></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% else %}
<h3 class="text-center py-4">No tienes los permisos suficientes</h3>
{% endif %}


{% include "footer.html" %}
{% endblock %}