{% extends 'header.html' %}
{% block title %}
<title>Borrar web</title>
<link rel="stylesheet" href="/static/css/loader.css">
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{object.nombre}}</li>
    </ol>
</nav>
{% endblock %}

{% block content2 %}
{% if user.is_staff %}

<div class="container">
    <div class="alert alert-danger" role="alert">
        <h3>ATENCIÓN!!</h3>
        <strong>Si borras esta web, se borrará su información!</strong>
    </div>
    <h2>Seguro deseas borrar esta web?</h2>
    <form method="post">
        {% csrf_token %}
        <a href="/categorias" class="btn btn-primary mt-4 mb-4">Volver Atras</a>
        <button type="submit" class="btn btn-danger mt-4 mb-4">Confirmar</button>        
    </form>
</div>


{% else %}
<h3 class="text-center py-4">No tienes los permisos suficientes</h3>
{% endif %}

{% include "spinner.html" %}
{% include "footer.html" %}
{% endblock %}
