{% extends 'header.html' %}

{% block title %}
<title>Página no encontrada</title>
<link rel="stylesheet" href="/static/css/loader.css">
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../">Ir a la home</a></li>
        <li class="breadcrumb-item active" aria-current="page">ERROR - NO EXISTE LA PAGINA SOLICITADA!</li>
    </ol>
</nav>
{% endblock %}


{% block content2 %}
<div class="container text-center">
    <div class="row ml-4">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <img src="../static/img/404.svg" alt="error 404 no funciona nada :/" class="img-fluid py-4" style="width: 450px;">
            <a href="../"><button type="button" class="btn btn-primary py-4">Volver al inicio</button></a>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

{% include "footer.html" %}
{% include "spinner.html" %}
{% endblock %}