<footer>
    <div class="row pie">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h3><i>Contacto</i></h3>
            <ul>
                <li><a href="https://www.linkedin.com/in/luisalejandroperalta/" target="_blank" class="redes"><i
                            class="fab fa-linkedin-in"></i> Linkedin</a></li>
                <li><a href="https://github.com/Luis-Peralta" target="_blank" class="redes"><i
                            class="fab fa-github"></i> GitHub</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <p class="luis">By Luis® | V1.0</p>
        </div>
    </div>
</footer>