{% extends 'header.html' %}
{% block title %}
<title>Contraseña cambiada!</title>
<link rel="stylesheet" href="/static/css/loader.css">
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/procedimientos">procedimientos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contraseña</li>
  </ol>
</nav>
{% endblock %}

{% block content2 %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="container">
	<div class="d-flex flex-column">
		<div class="alert alert-success" role="alert">
			<h4 class="alert-heading">Perfecto</h4>
			<p class="m-auto">Su contraseña fue cambiada!<a href="{% url 'login' %}">Ingresar</a> ahora.</p>
		</div>
	</div>
</div>
{% endblock %}