{% extends 'header.html' %}
{% block title %}
<title>Borrar categoria</title>
<link rel="stylesheet" href="/static/css/loader.css">
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/procedimientos">Procedimientos</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{object.nombre}}</li>
    </ol>
</nav>
{% endblock %}

{% block content2 %}
{% if user.is_authenticated %}
{% if user.is_staff %}

<div class="container">
    <div class="alert alert-danger" role="alert">
        <h3>ATENCIÓN!!</h3>
        <strong>Si borras esta categoria, se borraran todos los procedimientos asociadas a la misma, no podras volver a recuperar su información!</strong>
    </div>
    <h2>Seguro deseas borrar esta categoria?</h2>
    <form method="post">
        {% csrf_token %}
        <a href="/categorias" class="btn btn-primary">Volver Atras</a>
        <button type="submit" class="btn btn-danger">Confirmar</button>        
    </form>
</div>


{% else %}
<h3 class="text-center py-4">No tienes los permisos suficientes</h3>
{% endif %}
{%else%}
<div class="container justify-content-center text-center">
    <h1>Para ver contenido por favor inicia sesión</h1>
    <img src="../static/img/404.svg" alt="error 404 no funciona nada :/" class="img-fluid py-4" style="width: 450px;">
</div>
{% endif %}

{% include "spinner.html" %}
{% include "footer.html" %}
{% endblock %}
