{% extends 'header.html' %}

{% block title %}
<title>Actualizar Categoria</title>
<link rel="stylesheet" href="/static/css/loader.css">
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/procedimientos">procedimientos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Categorias</li>
  </ol>
</nav>
{% endblock %}

{% block content2 %}
{% if user.is_authenticated %}
{% if user.is_staff %}
<div class="container text-center">
  <div class="row">
    <div class="form-group">
      <div>
        <h1>{{view_type}} Actualizar Categoria</h1>
      </div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>{{ form.nombre }}
          {% if form.errors %}
          <h4 class="bg-danger">Este titulo ya existe,cambie el nombre por favor!</h4>
          {% endif %}
          <button type="submit" class="btn btn-success btn-lg btn-block">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% else %}
<h3 class="text-center py-4">No tienes los permisos suficientes</h3>
{% endif %}
{%else%}
<div class="container justify-content-center text-center">
    <h1>Para ver contenido por favor inicia sesión</h1>
    <img src="../static/img/404.svg" alt="error 404 no funciona nada :/" class="img-fluid py-4" style="width: 450px;">
</div>
{% endif %}

{% include "spinner.html" %}
{% include "footer.html" %}
{% endblock %}
